:root {
  --primary: #f0f0f0;
  --text: #000;
  --one: #e3dcbc;
  --two: #739f80;
  --three: #aad2d2;
  --four: #f0f0f0;
  --five: #d8e5eb;
  --six: #b5ccbc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
