:root {
  --primary: #f0f0f0;
  --text: #000;
  --one: #fff;
  --two: #F93943;
  --three: #6da0a0;
  --four: #EEE5E5;
  --five: #E6C229;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
