.nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2rem;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav a {
    margin: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    font-family: var(--title-font);
}

.nav a:hover {
    color: white;
    transition: 0.1s ease;
}

/* BURGER MENU */
/* Position and sizing of burger button */
.burgerButton {
    display: none;
    position: fixed;
    width: 2rem;
    height: 1.5rem;
    right: 2rem;
    top: 2rem;
}

/* Color/shape of burger icon bars */
.burgerBars {
    background: var(--text);
}

/* Position and sizing of clickable cross button */
.burgerCrossButton {
    right: 2rem !important;
    top: 1rem !important;
}

/* Color/shape of close button cross */
.burgerCross {
    background: var(--primary);
    width: 0.3rem !important;
    height: 2.2rem !important;
}

/* General sidebar styles */
.burgerMenu {
    background: var(--text);
    padding: 3rem 1rem;
    font-size: 1.5rem;
}

/* Morph shape necessary with bubble or elastic */
.burgerMorphShape {
    fill: var(--text);
}

/* Wrapper for item list */
.burgerItemList {
    color: var(--primary);
    max-height: 95%;
}

/* Individual item */
.burgerMenuItem {
    display: inline-block;
}

/* Styling of overlay */
.burgerOverlay {
    background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 930px) {
    .nav {
        margin: 0;
    }
    
    .nav a {
        margin: 1.5rem 1rem;
    }
}

@media only screen and (max-width: 750px) {
    .navLink {
        visibility: hidden;
    }

    .burgerButton {
        display: block;
    }
}
