.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  scroll-behavior: smooth;
}

.section {
  min-height: 100vh;
  padding: 6rem 2rem;
}

.section1 {
  background-color: var(--one);
}

.section2 {
  background-color: var(--two);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section3 {
  background-color: var(--three);
}

.section4 {
  background-color: var(--four);
  text-align: center;
}

.section p  {
  font-size: 1rem;
}


}

.title {
  /* margin: 0; */
  line-height: 1.15;
  font-size: 5rem;
}

.section h2 {
  font-size: 3.5rem;
}

.section h3 {
  font-size: 2rem;
}

.section h4 {
  font-size: 1.5rem;
  font-weight: normal;
}


.icon {
  width: 100%;
  height: 100%;
}


/* LANDING */ 

#preTypeWriterText {
  margin-right: 0.3rem;
}

.typewriter {
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  margin: 0;
  margin-left: 200px;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  display: flex;
}


/* ABOUT */ 
.aboutText {
  width: 45%;
}

.aboutCircle {
  width: 40vw;
  height: 40vw;
  border-radius: 20vw;
  background-image: url("/personal.jpg");
  background-size: 105%;
  background-repeat: no-repeat;
  background-position-y: 40%;
}


/* TOOLS */
.section3 h2, .section3 h4 {
  margin-left: 1.3rem;
}

.toolsGrid {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 100vw;
}

.toolCard {
  margin: 1.3rem;
  text-align: center;
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolCard p {
  font-size: 1.1rem;
}

.toolIcon {
  width: 3rem;
  height: 3rem;
}


/* PROJECTS */
.projectsGrid {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
} 

.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.projectImg {
  grid-area: 1 / 3 / auto / 5;
  left: 1rem;
  bottom: 2.5rem;
  position: relative;
  width: 35rem;
  height: 20rem;
}

.projectInfo {
  grid-area: 1 / 1 / auto / 4;
  min-height: 30vh;
  padding: 2rem;
  text-align: left;
  background-color: #fff;
  border-radius: 0.5rem;
} 

.projectInfo h3 {
  font-size: 2.5rem;
  margin: 0;
}

.projectDesc {
  width: 65%;
}

.projectTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.projectTags p {
  color: var(--two);
}

.projectTools {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.projectToolIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.projectButtons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.projectButton {
  width: 9rem;
  height: 3rem;
  font-size: 1rem;
  border: none;
  background-color: var(--six);
  cursor: pointer;
  transition: 0.2s ease;
  align-self: flex-end;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.projectButton:hover {
  background-color: var(--two);
  transition: 0.2s ease;
  width: 10rem;
  /* height: 3rem; */
}

.projectButton p {
  margin: 0;
  font-family: var(--main-font);
}

.miniIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.githubButton {
  border: none;
  background-color: var(--primary);
  border-radius: 1.25rem;
  height: 2.5rem;
  padding: 0.3rem;
  transition: 0.2s ease;
}

.githubButton:hover {
  transition: 0.2s ease;
  height: 3rem;
  border-radius: 1.5rem;
}

/* PROJECT */
.specSection {
  background-color: var(--primary);
}

.projectSpec {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.projectSpecToolIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.imagesGrid {
  margin-top: 2rem;
}

/* Footer */
.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: white;
}

.footer p {
  font-size: 1.5rem;
}

.footerIcon {
  width: 2rem;
  height: 2rem;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLinks a {
  padding: 0.5rem;
}