.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

/* Footer */

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.footer p {
  font-size: 1.5rem;
}

.footerIcon {
  width: 2rem;
  height: 2rem;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLinks a {
  padding: 0.5rem;
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
} */

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

#preTypeWriterText {
  margin-right: 0.3rem;
}

.typewriter {
  /* font-size: 2rem; */
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
  margin: 0;
  margin-left: 200px;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
}


/* TOOLS */

.toolsGrid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 1000px;
}

.toolCard {
  margin: 1rem;
  /* max-width: 200px; */
  text-align: center;
  width: 100px;
}

.toolCard p {
  font-size: 1rem;
}

.toolIcon {
  width: 2rem;
  height: 2rem;
}

}
