.container {
  /* padding: 0 2rem; */
}

.main {
  min-height: 100vh;
  padding: 4rem 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.footer {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
}

.footer p {
  font-size: 1.5rem;
}

.footerIcon {
  width: 2rem;
  height: 2rem;
}

.footerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLinks > * {
  padding: 0.5rem;
}

/* .footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
} */

/* .footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
} */

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  /* max-width: 200px; */
  text-align: center;
  width: 100px;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.card p {
  /* margin: 0; */
  font-size: 1rem;
  /* line-height: 1.5; */
}
